{% extends 'base.html' %}
{% load static %}
{% block content %}
								<!-- Content -->
								<section>
									<header class="main">
										<h1>Welcome to Cooking Block</h1>
									</header>
										{% if messages %}
										<ul class="messages">
   										 {% for message in messages %}
											<div class="alert alert-success" role="alert">
												{{ message }}
											</div>
   										 {% endfor %}
										</ul>
										{% endif %}


									<span class="image main"><img src="{% static 'images/cook.jpg' %}" style="width: auto; height: auto;" alt="" /></span>

									<p>Hello friends,</p>
									<p>This is my first web site created by tutorial in my course)))</p>
									<p>I just wanted share with my small step to web programming.</p>

									<hr class="major" />


									<hr class="major" />

									<div class="posts">
										{% for recipe in page_obj %}
										<article>
											<a href="#" class="image"><img src="{{ recipe.get_image }}" style="width: 200px; height: 200px;" alt="" /></a>
											<h3>{{ recipe }}</h3>
											<p>{{ recipe.description|truncatewords:15 }}</p>
											<ul class="actions">
												<li><a href="{% url 'detail' recipe.id %}" class="button">More</a></li>
											</ul>
										</article>
										{% endfor %}

								</section>
<nav aria-label="...">
  <ul class="pagination pagination-sm">
	  {% if page_obj.has_preivious%}
	   <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
	  {% endif %}

	  <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>
	{% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ page_obj.next_page_number}}">{{ page_obj.next_page_number}}</a></li>
	  {% endif %}
  </ul>
</nav>
{% endblock %}






